<!-- header section starts  -->
{% load custom_tags %}
{% load static %}
<style>
    .box-container .box a i {
        color: var(--green_main);
        padding-right: 0.5rem;
    }

    .box-container .box a {
        display: block;
        font-size: 1.4rem;
        color: var(--light-color);
    }
</style>
<header class="header">

    <div class="header-1">

        <a href="{% url 'home' %}" class="logo"> <img src="{% static '/shop/image/almaty-doors_logo_green.png' %}" alt="logo" height="60px"></a>
      <div class="box-container">
            <div class="box">
                <a href="tel:+77775939399"> <i class="fas fa-phone"></i> +7-777-593-93-99 </a>
                <a href="tel:+77005939399"> <i class="fas fa-phone"></i> +7-700-593-93-99 </a>
                <a href="mailto:umk.kairat@mail.ru"> <i class="fas fa-envelope"></i> umk.kairat@mail.ru </a>
            </div>
        </div>
        <div class="search-form">
            <a href="" target="_blank" hidden id="search_link"></a>
            <input type="text" name="search" placeholder="поиск двери..." id="search-box" list="door_list" minlength="2" style="height:5.1em">
            <datalist id="door_list" style="height:5.1em;overflow:hidden">
                {% for product in products %}
                    <option data-search="{% url 'product_detail' product.slug %}" value="{{ product.title }} {{ product.brand }}"></option>
                {% endfor %}
            </datalist>


            <label for="search-box" class="fas fa-search" id="search-btn-icon"></label>
        </div>

{#        <div class="icons">#}
{#            <div id="search-btn" class="fas fa-search"></div>#}
{#            <a href="#" class="fas fa-heart"></a>#}
{#            <a href="#" class="fas fa-shopping-cart"></a>#}
{#            <div id="login-btn" class="fas fa-user"></div>#}
{#        </div>#}

    </div>

    <div class="header-2">
        <nav class="navbar_nb">
            <a href="{% url 'home' %}">Главная</a>
            {% for obj in categories %}
                <a href="{% url 'category' obj.slug %}">{{ obj.name }}</a>
            {% endfor %}
        </nav>
    </div>

</header>

<!-- header section ends -->

<!-- bottom navbar  -->

<nav class="bottom-navbar">

    <a href="{% url 'home' %}" class="fas fa-home"></a>
    {% for obj in categories %}
        <a style="font-size: medium;" href="{% url 'category' obj.slug %}">{{ obj.name|get_first_word }} <i
                class="fas fa-door-open"></i></a>
    {% endfor %}

</nav>






