<!-- home section starts  -->
<!-- <style>
    .home {
       background-image: url('{{ banners.first.image.url }}');#}
       background-size: cover;#}
       background-position: center;#}
       background-repeat: no-repeat;#}
    }
</style> -->
<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>Качественные двери из России и Белоруссии</h3>
            <p><strong>От известных производителей по низким ценам!</strong> <br>
          		Наш instagram <a href="https://www.instagram.com/dveri_kz/">@dveri_kz</a><br>
              	Наш магазин находится по адресу: <br>
             	<a href="https://go.2gis.com/5zjosy" target="_blank"> <i class="fas fa-map-marker-alt"></i> <span>г. Алматы, ул. Розыбакиева
                    72А, ТД Саламат 4, 2 этаж, 44 бутик</span> </a><br>
              	Уточняйте наличие дверей!
             </p>
            <!-- <a href="#" class="btn">shop now</a> -->
        </div>

        <!-- <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide"><img src="image/book-1.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="image/book-2.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="image/book-3.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="image/book-4.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="image/book-5.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="image/book-6.png" alt=""></a>
            </div>
            <img src="image/stand.png" class="stand" alt="">
        </div> -->

    </div>

</section>

<!-- home section ense  -->


